/* font-family: 'Archivo Narrow', sans-serif */
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Archivo Narrow";
}

.format {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  background-color: #FFFFD2;
}

.center-box {
  border: double;
  padding: 20px 20px 20px 20px;
  border-radius: 10px;
  width: 500px;
  height: 600px;
  background-color: #C5FAD5;
  box-shadow: 0px 0px 5px;
}

a, a:visited {
  text-decoration: none;
  color: inherit
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.box-title {
  font-size: 35px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}

.generateFact {
  color: grey;
  cursor: pointer;
  opacity: .6;
}

.generateFact:hover {
  opacity: 1;
}

.saveFact {
  color: rgb(20, 87, 163);
  cursor: pointer;
  opacity: .6;
}

.saveFact:hover {
  opacity: 1;
}

label {
  font-size: 20px;
}
select {
  font-size: 15px;
}

.searchResult-container {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
}

.searchResult {
  background-color: pink;
  border: solid black;
  border-radius: 10px;
}