* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.format {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.center-box {
  border: double;
  padding: 20px 20px 20px 20px;
  border-radius: 10px;
  width: 500px;
  height: 600px;
}

a, a:visited {
  text-decoration: none;
  color: inherit
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}